* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

/* Kiri: Gambar */
.left-side {
  flex: 1;
  background-image: url('ith.jpeg');
  background-size: cover;
  background-position: center;
}

/* Kanan: Form login */
.right-side {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 100%;
  max-width: 350px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fafafa;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #ff8800;
  text-align: center;
}

.login-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.login-box input {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #ff8800;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #0077cc;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    height: 200px;
  }
}
